body{
    color : #142c5c;
    font-family: Arial, Helvetica, sans-serif;
}

.styleWarna{
    color: #4c58ec;
}

.active{
    color: #4c58ec;
}

.info{
    transform: translateY(-50%);
    border-radius: 25%;
}

.button{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.cardD{
    display: inline-block;
    position: relative;
    background-color: #0066FE;
    color: white !important;
    border-radius: 25px;
    margin: 10px;
}

.cardD .utamaR{
    border-radius: 25px;
    width: 100%;
}

.btnD{
    margin: 10px;
    width: 90%;
    position: relative;
    display: flex;
    justify-content: end;
}

.btnD button:hover{
    cursor: pointer;
}


.cardR .infoR{
    transform: translateY(-100%);
    color: #f7f7f7;
    padding: 20px;
    background: linear-gradient(268.58deg, rgba(0, 0, 0, 0) 34.26%, #0066FE 91.4%);
}

footer{
    border-top: 1px solid #d0cccc;
}

.active{
    font-size: 18px;
}